* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0; top: 0;
}
#matrix { z-index: 1; }
#overlay { z-index: 2; }
