* {
  margin: 0;
  padding: 0;
}

body { background: black; }

#cels, #overlay {
  display: block;
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height:100vh;
}
#cels { overflow: hidden; }
#overlay { z-index: 2; display: none; }

#cels div {
  opacity: 0;
  display: none;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  animation-name: fadeout;
  animation-duration: var(--cel-fade-time);
  font-family: arial;
  font-size: var(--cel-font-size);
  width: var(--cel-width);
  height: var(--cel-width);
}

#cels.atari div {
  font-family: "Atari Classic","EightBit Atari";
}

.flop { transform: rotate(180deg); }

@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
